i(
  class="paasb-search-box-cache-filter fa fa-archive",
  ng-class="{ 'active': cacheActive, 'magnifier-always-on': showMagnifierAlways, 'has-query': hasQuery, 'has-filters': hasFilters }"
  ng-click="handleCache();"
)
