div.paasb-searchbox {

  border: 1px solid rgba(4, 4, 4, 0.3);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  border-radius: 4px;
  background: #FFF;
  padding: 4px;

  div.paasb-searchbox-wrapper {

    position: relative;

    i {

      &.fa-cog {

        opacity: .6;
        right: 62px;
        margin-top: -11px;
        color: #4A92D0;

        &.no-cache-filtering {
          right: 40px;
          margin-top: -10px;
        }

        &.has-eraser-and-no-cache-filtering {
          right: 68px;
          margin-top: -10px;
        }

        &.has-eraser-and-cache-filtering {
          right: 88px;
          margin-top: -10px;
        }

      }

      position: absolute;
      margin: -1px 0 0 0;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 18px;
      right: 15px;

      &.fa-eraser {

        right: 62px;
        color: #4A92D0;
        cursor: pointer;

        &.no-cache-filtering {
          right: 40px;
        }

      }

      &.fa-trash {

        cursor: pointer;
        color: #337ab7;

        &:hover {

          color: #000;

        }

      }

    }

    > input {
      font-size: 18px;
      border: none;
      width: 100%;
      outline: none;
      padding: 9px 8px 7px 50px;
      color: rgba(0, 0, 0, 0.68);
      font-weight: normal;
      font-style: italic;
    }

  }

}
