div.paasb-searchbox {

  div.paasb-searchbox-wrapper {

    i.paasb-search-box-cache-filter {

      right: 38px;
      color: #585858;
      cursor: pointer;

      &.magnifier-always-on {

        right: 38px;

        &.has-filters,
        &.has-query {
          right: 60px;
        }

      }

      &.active {
        color: #4A92D0;
      }

    }

  }

}
